.dashboard {
  overflow: hidden;
}

.dashboard > section {
  padding-inline: var(--page-padding);
}

.dashboard_header,
.dashboard_statistics {
  margin-block-end: 1.875rem;
}

.dashboard .download_btn {
  background-color: var(--white);
  border: 1px solid var(--darker-gray);
  transition: background-color 0.3s ease-in-out;
}
.dashboard .download_btn:hover {
  background-color: var(--light-gray);
}

.dashboard_statistics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
}

.dashboard_statistics div:first-child {
  border: 1px solid var(--greenish);
}
.dashboard_statistics div:first-child a {
  background-color: rgba(1, 167, 104, 0.3);
}

.dashboard_statistics div:nth-child(2) {
  border: 1px solid var(--yellowish);
}
.dashboard_statistics div:nth-child(2) a {
  background-color: rgba(254, 214, 0, 0.3);
}

.dashboard_statistics div:nth-child(3) {
  border: 1px solid var(--blueish);
}
.dashboard_statistics div:nth-child(3) a {
  background-color: rgba(3, 169, 245, 0.3);
}

.dashboard_statistics div:last-child {
  border: 1px solid var(--reddish);
}
.dashboard_statistics div:last-child a {
  background-color: rgba(240, 72, 62, 0.3);
}

/* ==================================================== */

.dashboard_summery {
  padding-block: 1.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1.5625rem;
  background-color: var(--white);
}

@media screen and (max-width: 34.375rem) {
  .dashboard_header {
    text-align: center;
    flex-direction: column;
    gap: 1rem 0;
  }
}

@media screen and (max-width: 31.25rem) {
  .dashboard_statistics {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 26.25rem) {
  .layoutheader > section {
    padding: none;
  }
}

@media screen and (max-width: 21.25rem) {
  .dashboard_summery {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}
