.layoutheader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 0;
  padding-block: 1.875rem;
}

.layoutheader_cta {
  position: relative;
}

.layout_text > p {
  font-size: 0.875rem;
  color: rgba(29, 36, 46, 1);
}

@media screen and (max-width: 31.25rem) {
  .layoutheader {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* 
  * 340px
*/
