.list_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.medicines_list .select_group {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.list_header .select_group .selectbox {
  background-color: var(--white);
  border: 1px solid var(--darker-gray);
  border-radius: 5px;
  padding: 0.5625rem 1.25rem;
}

.list_header .select_group .selectbox > option {
  padding: 0.5rem 1rem;
}

.medicines_list .table {
  grid-template-columns: 2fr repeat(4, minmax(8.375rem, 1.45fr));
}

.medicines_list .data_row:last-child > * {
  border-bottom: none;
}

.medicines_list .list_controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1.25rem;
}

.medicines_list .list_controls .selectbox {
  justify-content: center;
}

.medicines_list .list_controls .pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.medicines_list .list_controls .arrow {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  background-color: var(--white);
  border: 0.4px solid rgba(29, 36, 46, 0.3);
  border-radius: 5px;
}

.medicines_list .list_controls .arrow.end {
  background-color: rgba(255, 255, 255, 0.3);
}

.medicines_list .list_controls .arrow svg {
  width: 1.2rem;
  height: 1.2rem;
}

/*-----------------------------------* 
 * Media Queries 
 *-----------------------------------*/

/* 840px */

@media screen and (max-width: 52.5rem) {
  .medicines_list .table .med_name {
    font-size: 0.825rem;
  }
}

/* 700px */
@media screen and (max-width: 43.75rem) {
  .medicines_list .table_header tr th:is(:nth-child(2), :nth-child(3)) {
    display: none;
  }
  .medicines_list .table_body .hide_on_mobile {
    display: none;
  }
  .medicines_list .table {
    grid-template-columns: 2fr 0.8fr 0.8fr;
  }
}

/* 510px */

@media screen and (max-width: 31.875rem) {
  .medicines_list .list_controls {
    justify-content: center;
  }
}

/* 480px */

@media screen and (max-width: 30rem) {
  .list_header {
    gap: 1rem 0;
    justify-content: center;
  }

  .list_header > .select_group {
    width: max-content;
  }
}

/* 340px */
@media screen and (max-width: 21.25rem) {
  .medicines_list .med_name {
    font-size: 0.8rem;
  }
}
