.inventory_stats {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.inventory_stats div:first-child {
  border: 1px solid var(--blueish);
}
.inventory_stats div:first-child a {
  background-color: rgba(3, 169, 245, 0.3);
}

.inventory_stats div:nth-child(2) {
  border: 1px solid var(--greenish);
}
.inventory_stats div:nth-child(2) a {
  background-color: rgba(1, 167, 104, 0.3);
}

.inventory_stats div:last-child {
  border: 1px solid var(--blueish);
}
.inventory_stats div:last-child a {
  background-color: rgba(3, 169, 245, 0.3);
}



.inventory svg {
  width: 1rem;
  height: 1rem;
}

.arrow {
  margin-inline: 0.5rem;
}

@media screen and (max-width: 31.25rem) {
  .inventory_stats {
    justify-content: center;
    align-items: center;
  }
}
