.remove-btn {
  background-color: var(--reddish);
}
.medicine_detail .searchbox {
  max-width: 25rem;
}

.info_page {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-block: 1rem;
}

.info_page .info_card:is(:nth-child(3), :nth-child(4)) {
  grid-column: 1 / -1;
}

/*-----------------------------------* 
 * Media Queries 
 *-----------------------------------*/

@media screen and (max-width: 24.0625rem) {
  .info_page {
    grid-template-columns: 1fr;
  }
}
