.medicine_detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.medicine_detail .config:nth-child(3),
.medicine_detail .config:last-child {
  grid-column: 1 / -1;
}

.remove-btn {
  background-color: var(--reddish);
}

.info_page {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-block: 1rem;
}

.info_page .info_card:is(:nth-child(3), :nth-child(4)) {
  grid-column: 1 / -1;
}
