.header {
  position: relative;
  display: grid;
  grid-template-columns: 40% repeat(auto-fit, minmax(9rem, 1fr));
  align-items: center;
  gap: 1rem;
  padding-inline: var(--page-padding);
  padding-block: 0.6875rem;
  background-color: var(--white);
}

.header .searchbox {
  width: 100%;
}

.header_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_icon > svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-inline-end: 0.625rem;
}

.header .weather {
  justify-self: flex-end;
  align-self: flex-end;
}

.select_lang {
  display: flex;
  align-items: center;
  max-width: 7.5rem;
  font-size: 0.75rem;
}

.header .hamburger {
  position: absolute;
  inset: 0;
  width: 2.1875rem;
  height: 2.1875rem;
  opacity: 0;
  visibility: hidden;
}

/*-----------------------------------* 
 * Media Queries 
 *-----------------------------------*/

/* 
  * 900px
*/

@media screen and (max-width: 56.25rem) {
  .header {
    grid-template-columns: 3rem 40vw repeat(auto-fit, minmax(0, 1fr));
  }
  .header .hamburger {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

/* 
  * 800px - 691px
*/

@media screen and (min-width: 43.1875rem) and (max-width: 50rem) {
  .header .weather {
    justify-content: center;
    align-items: center;
  }

  .header .weather_header {
    font-size: 0.85rem;
  }

  .header .weather > .weather_cal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* 
  *  690px : 486px
*/

@media screen and (min-width: 30.375rem) and (max-width: 43.125rem) {
  .header {
    grid-template-columns: 3rem 13.4375rem 1fr;
  }

  .header .select_lang {
    justify-self: center;
  }

  .header .weather {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

/* 
  * 485px
*/

@media screen and (max-width: 30.3125rem) {
  .header {
    grid-template-columns: 3rem 1fr;
  }
}

@media screen and (max-width: 24.0625rem) {
  .header .weather {
    display: none;
  }

  .header .select_lang {
    grid-column: 1 / -1;
    margin-inline-end: 3rem;
    justify-self: center;
  }
}
