.auth_container {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0;
  height: calc(100vh - 74px);
  display: flex;
  gap: 0.5rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  grid-template-columns: 1fr;
  margin-block-start: -3rem;
}

.auth_container .auth_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
