.config_btn {
  display: none;
}

.configs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.5rem, 1fr));
  gap: 2rem;
}


@media screen and (max-width: 31.25rem) {
  .configs {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

  }
}