.add_medicine_form {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.9375rem;
  padding-block: 1.875rem;
}

.form_control label {
  margin-block-end: 0.3125rem;
  text-transform: capitalize;
}

.form_selectbox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form_selectbox select {
  background-color: #e3ebf3;
  padding: 0.6875rem 1.25rem;
  border: 0.2px solid #1d242e69;
  border-radius: 4px;
}

.form_textarea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
}

.btn:disabled {
  opacity: 0.5;
}

.add_medicine_form .btn_form {
  width: 25%;
  grid-column: 1 / -1;
}

/* 500px */

@media screen and (max-width: 40.625rem) {
  .add_medicine_form {
    grid-template-columns: 1fr;
  }

  .add_medicine_form .btn_form {
    width: 100%;
  }
}
