.form {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.9375rem;
  padding-block: 1.875rem;
}

.form_container {
  width: 100%;
}

.form_container label {
  margin-block-end: 0.3125rem;
  text-transform: capitalize;
}

.selectbox_control {
  position: relative;
  display: flex;
  flex-direction: column;
}

.selectbox_control select {
  background-color: #e3ebf3;
  padding: 0.6875rem 1.25rem;
  border: 0.2px solid #1d242e69;
  border-radius: 4px;
}

.textarea_control {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
}

.btn:disabled {
  opacity: 0.5;
}

/* 500px */

@media screen and (max-width: 31.25rem) {
  .form {
    grid-template-columns: 1fr;
  }
  .form_container {
    width: 80%;
    margin-inline: auto;
  }

  .form_container .btn {
    width: 100%;
  }
}
