.table {
  display: grid;
  align-items: center;
  justify-items: stretch;
  width: 100%;
  border: 1px solid;
  margin-block-start: 0.9375rem;
  background-color: var(--white);
  border-radius: 5px;
}
thead,
tbody,
tr {
  display: contents;
}

th {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
}

:is(td, th):not(:last-child) {
  border-right: 1px solid #333;
}

th,
td {
  border-bottom: 1px solid #333;
  padding-block: 0.8125rem;
  padding-inline-start: 0.5rem;
  font-size: 0.9rem;
  text-overflow: ellipsis;
}

thead th:first-of-type,
tbody th {
  padding-inline: 1rem;
}
